{% extends "layout.html" %}
{% block body %}

<header class="masthead" style="background-image: url('{{ url_for('static',filename='img/home-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Admin Panel</h1>
            <span class="subheading">A blog by programmers</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1>Add/Edit Posts</h1>
          <form name="sentMessage" id="contactForm" action = "/edit/{{sno}}" method = "post"novalidate>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Title</label>
              <input type="text" class="form-control" placeholder="title" id="title" name="title" required data-validation-required-message="Please enter your title." value="{{posts.title}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Tagline</label>
              <input type="text" class="form-control" placeholder="tagline" id="tagline" name="tagline" required data-validation-required-message="Please enter your tagline." value="{{posts.tag_line}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Slug</label>
              <input type="text" class="form-control" placeholder="slug" name="slug" id="slug"required data-validation-required-message="Please enter your slug." value="{{posts.slug}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Content</label>
              <textarea rows="5" class="form-control" placeholder="content" id="content"  name="content" required data-validation-required-message="Please enter a content." >{{posts.content}}</textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Image File</label>
              <input type="text" class="form-control" placeholder="img_file" name="img_file" id="img_file" required data-validation-required-message="Please enter your img name." value="{{posts.img_file}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Submit</button>
        </form>
        </div>
    </div>
  </div>

 {% endblock %}
